
# misc
.DS_Store

*.swp


# localDB
localDB/
vendor/
Gopkg.lock

# tendermint data
config/tendermint/RP/*
config/tendermint/IdP/*
config/tendermint/IdP/config/priv_validator.json
config/tendermint/RP/config/priv_validator.json